body {
	margin:0;
	background: #413C58;
}
.web__container {
	width:60%;
	margin:20px auto;

}
.title {
	padding: 10px;
	font-size: 36px;
	color: white;
}
.board__container {
	background: #A3C4BC;
	padding: 20px;
	border:none;
	border-radius: 10px;
	margin-bottom: 20px;
}
.btn__comment {
	padding: 10px 20px;
	background: #413C58;
	color:white;
	border :none;
	border-radius: 5px;
}
.btn__comment:hover {
	cursor: pointer;
}
.nickname {
	display: inline-block;
	color: #413C58;
	font-size: 20px;
	margin-right: 20px;
	padding-left: 10px;
	font-weight: bold; 
}
.time {
	display: inline-block;
	font-size: 10px;
}
.content {
	margin-top: 10px;
	padding: 10px;
	line-height: 1.5em;
	border: 0.5px solid #DDF2EB;
}
.input__nickname {
	display: block;
	border :none;
	margin-bottom: 10px;
	padding: 5px;
	width: 50%;
	outline:none;
}
.textarea__content {
	display: block;
	border :none;
	margin-bottom: 10px;
	padding: 5px;
	width: 95%;
	outline:none;
}
.reply {
	background: #DDF2EB;
	margin-top: 10px;
	padding: 20px;
	border: none;
}
.btn__reply {
	padding: 5px 10px;
	background: #A3C4BC;
	color: #413C58;
	border :none;
	border-radius: 5px;
}
.btn__reply:hover {
	cursor: pointer;
}
.footer {
	text-align: center;
	margin-bottom: 20px;
}
.footer a {
	color: white;
	text-decoration:none;
}
			